 
@media screen and (max-width:768px) {
    
   
    .arrow-left-div{
        left: 0;
    }
    .arrow-right-div{
        right: 0;
    }
    .contents{
        display: none;
    }
    .header{
        width: 100%;
        position: relative;
    }
    .header .heading{
        font-size: 1rem;
    }
    .hero-section-container{
        width: 100%;
        margin: 0 auto;    
        position: relative;
    } 
  
    .hamburger{
        display: block;
        z-index: 10;
    }
    .hamburger .cross{
        display: none;
    }
    .menus ul{
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #fff;
        width: 200px;
        z-index: 10;
        height: 100vh;
        padding-top: 20px;
        text-align: center;
    }
    .menus ul li{
        padding-top: 35px;
    }
    .menus ul li a{
        color: #221f1f;
    }
    .active-menu{
        background:none;
        border: none;
        padding: 0;
    }
  
    .right img{
        width: 50%;
    }
    .right{
        text-align: center;
    }
    .service-container{
        text-align: center;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .service-container .service-box{
        width: 33%;
    }
    .work-container{
        width: 100%; 
        padding-top: 20px;
    }
    .products-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .products-main{
        width: 42%;
    }
    .border-heading{
        margin: 0;
    }
    .border-heading h2{ 
      text-align: center;
      margin: 0 auto;
    }
    .border-heading .border-left{
        display: none;
    }
    .border-heading .border-right{
        display: none;
    }
    .footer-container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
   .back-footer{
       width: 100%;
       display: flex;
       flex-direction: column;
   }
   .back-footer > p{
       padding-bottom: 10px;
   }
   .row2 ul li{
       border: none;
   } 
   .footer-container{
    justify-items: center;
}
.back-footer{
    align-items: center;
    text-align: center;
}  
}
@media screen and (max-width:480px) {
    .service-container{
        display: flex;
        flex-direction: column;
        align-content: center;

    }   
    .service-container .service-box{
        width: 50%;
    }
    .products-container{
        display: flex;
        flex-direction: column;
        flex-wrap: unset;
        align-items: center;
    }
    .products-main{
        width: 70%;
    }
    .border-heading h2{ 
        text-align: center;
        font-size: 0.7rem;
        margin: 0 auto;
    }
    .footer-container{
        justify-items: center;
    }
    .back-footer{
        align-items: center;
        text-align: center;
    }
} 
@media screen and (max-width:280px){
    .products-container{
        width: 100%;
    }
    .products-container .products-main{
        width: 80%;
    }
}